<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="style-about-me.css">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
<script src="https://accounts.google.com/gsi/client" async defer></script>
<link rel="stylesheet" href="/path/to/flickity.css" media="screen">
<title>About Me</title>
</head>
<body>

<header class="navbar">
    <div class="navbar_image">
        <img class="logo"src="photos\Logo (1) 1.png" alt="">
      </div>
    <nav class="menu">
        <ul class="nav_links">
            <li><a class="nav_link" href="/">Home</a></li>
            <li><a class="nav_link" href="about-me">About Us</a></li>
        <li><a class="nav_link" href="contact-me">Contact Us</a></li>
      </ul>
  </nav>
</header>


<div class="body">
    <div class="tagline">
        <h1 class="description">We are a group of Computer Science and Software Engineering students at the University of 
            Texas at Dallas looking to help people organize their everyday life through a single application. 
            SkedgeBot is a discord chat bot that will connect to all time-sensitive technologies a student may 
            use to keep themselves organized such as eLearning, Google Calendar, Outlook Calendar, and Notion. 
            SkedgeBot relieves the stress of keeping track of various schedules and speeds up the process of 
            scheduling new tasks or events. SkedgeBot will be an easy way for people to stay on top of their work. </h1>
    </div>

    <div class="findoutmore"><h3>Log in or Sign up with Google to find out more!</h3></div>
        
    <div id="g_id_onload"
      data-client_id="796287301417-l5mg1pu4dtq0375i8ag6fu4bn6lvoag2.apps.googleusercontent.com"
      data-context="signin"
      data-ux_mode="popup"
      data-login_uri="/add_cal"
      data-itp_support="true">
    </div>

    <div class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="outline"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="left">
    </div>

    </div>
</html>
