<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="contat-me.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c6ea07751e.js" crossorigin="anonymous"></script>
    <title>Contact Us</title>
</head>
<body>
    <header class="navbar">
        <div class="navbar_image">
            <img class="logo"src="photos\Logo (1) 1.png" alt="">
          </div>
        <nav class="menu">
            <ul class="nav_links">
                <li><a class="nav_link" href="/">Home</a></li>
                <li><a class="nav_link" href="about-me">About Us</a></li>
            <li><a class="nav_link" href="contact-me">Contact Us</a></li>
          </ul>
      </nav>
    </header>

    <div class="catchphrase"><h1>Have Any Thoughts?<br>Let Us Know!</h1></div>
    



   <a class="icons" href="mailto:sasha.kaplan@utdallas.edu?subject=SkedgeBot Inquiry">

    <div class="contact-tags">
        <div id="icons-containter">
            <div class="email">
                <ul>
                    <li class="email-icon"><a href="mailto:sasha.kaplan@utdallas.edu?subject=SkedgeBot Inquiry"><i class="fas fa-envelope"></i></a></li>
                    <li  class="email-tag"><a href="mailto:sasha.kaplan@utdallas.edu?subject=SkedgeBot Inquiry"><h3>Email Us!</h3></a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>