<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@200&display=swap" rel="stylesheet">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <title>Home</title>
</head>
<body> 
      <header class="navbar">
          <div class="navbar_image">
              <img class="logo"src="photos\Logo (1) 1.png" alt="">
            </div>
          <nav class="menu">
              <ul class="nav_links">
              <li><a class="nav_link" href="">Home</a></li>
              <li><a class="nav_link" href="about-me">About Us</a></li>
              <li><a class="nav_link" href="contact-me">Contact Us</a></li>
            </ul>
        </nav>
      </header>
    <div>    
        <div class="catchphrase"><h1>The Future of Scheduling and Productivity</h1></div>
        <div class="findoutmore"><h3>Log in or Sign up with Google to find out more!</h3></div>
        
    <div id="g_id_onload"
      data-client_id="796287301417-l5mg1pu4dtq0375i8ag6fu4bn6lvoag2.apps.googleusercontent.com"
      data-context="signin"
      data-ux_mode="popup"
      data-login_uri="/add_cal"
      data-itp_support="true">
    </div>

    <div class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="outline"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="left">
    </div>

    </div>
   
</body>
</html>